.container{
    display: flex;
    gap: 10px;
    background-color: aqua;
    height:350px;
    width: 850px;
    padding: 30px;margin: 20px;
}
.hello:nth-child(1),:nth-child(5){
    background-color:aliceblue;
    width:120px;
    height:350px;
    text-align: center;
}
.hello:nth-child(2){
    background-color: aliceblue;
    width: 120px;
    height:120px;
    align-self:center;
    text-align: center
}
    .hello:nth-child(3)
    {
        background-color: aliceblue;
        width: 120px;
        height: 120px;
        align-self: baseline;text-align: center

    }
    .hello:nth-child(4)
{
    background-color: aliceblue;
    width: 120px;
    height:120px;

    align-self: last baseline;text-align: center
}
